<% if user_signed_in? && current_user.is_admin? %>
<%= form_with  model: @product, url: @action == 'edit' ? new_product_path : products_path, method: @action=='edit' ? :patch : :post, html:{multipart: true}  do |form| %>
<section>
  <div class="product-details">
    <div class="row mx-0">
      <div class="col-lg-6 col-md-12 col-sm-12 px-lg-0 d-flex flex-column add-product-image-preview-section">
        <div class="float-end mb-3">
          <input type="button" value="Upload Image" class="d-flex btn btn-primary " onclick="document.querySelector('.add-image').click();" />
        </div>
        <div class="product-main-image product-main-add-image">
          <div id="carouselExampleControls" class="carousel slide h-100" data-bs-ride="carousel">
            <div class="carousel-inner h-100">
              <% if @action == "edit" %>
              <div class="carousel-item active h-100">
               <%= image_tag @product.images[0].url, height:"100%",width:"100%" if @product.images[0].url.present? %>

             </div>
             <% @product.images.each do |i|%>
             <div class="carousel-item  h-100">
               <%= image_tag i.url,height:"100%",width:"100%" if i.url.present? %>

             </div>
             <% end %>
             <% else%>
             <div class="carousel-item carousel-upload-item active h-100">
              <img id="img_prev" src="#" class="d-block w-100 h-100" />

            </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 product-content-container d-flex">
      <div class="product-content w-100 add-new-product-main">
        <%= form.file_field :images , multiple: true, class:'form-control add-image ', placeholder:"Image",style:"display: none;", onchange:"readURL(this);", id:"image_prev"%><br>
        <!-- <input type="file" id="selectedFile" style="display: none;" /> -->

        <%= form.text_field :name , class:'input add-new-product-form-input form-control', placeholder:"Name", :required => true%><br>

        <!-- <h1 class="product-heading"><%#= @product.name%></h1> -->
        <%= form.text_field :price , class:'input add-new-product-form-input form-control', placeholder:"Price", :required => true%><br>
        <!-- <h3 class="product-price">$24.95-$249.5</h3> -->

        <%= form.text_area :description , size: 100*5, class:'input add-new-product-form-input form-control', placeholder:'Description', :required => true %>

   
    <!-- Size -->
    <div class="product-selection selection-type-size d-flex align-items-center">
      <div class="product-selection-text d-flex">
        <p class="f-20 my-0">Size</p>
      </div>
      <div class="d-flex product-options size product-options-size-update">


       <% @sizes.each do |s| %>
       <%= form.check_box :size, { multiple: true }, s, false  %>
       <%= form.label :size, s, for: "product_size_#{s}".downcase.to_sym, class:'d-flex justify-content-center align-items-center'%>
       <% end %>
     </div>
   </div>
   <!-- Quantity -->
   <div class="product-selection selection-type-quantity d-flex align-items-center">
    <div class="product-selection-text d-flex">
     <%= form.label :quantity, "Quantity "%><br>
   </div>
   <div class="product-options message1 quantity m-0 add-product-message">
    <%= form.text_field :quantity , class:'input form-control product-message1', id:'message1', placeholder:'Enter Quantity', :required => true%>
    <!-- <input class="product-message1" type="text" id="message1" placeholder="Enter quantity... -->
  </div>
</div>
<!-- Message1 -->
<div class="product-selection selection-type-quantity d-flex align-items-center">
  <div class="product-selection-text d-flex">
    <!-- <p class="f-20 my-0">Message</p> -->
    <%= form.label :category_id, "Category ", :required => true%><br>
  </div>
  <div class="d-flex product-options category product-update-category">
    <%= form.select :category_id , Category.all.collect{|c| [c.category_name, c.id]}, class:'input form-control' %>

    <button type="button" class="btn btn-success btn-xs modal-btn" data-toggle="modal" data-target="#approvalModal" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
      <img src="https://sorsally.s3.ap-south-1.amazonaws.com/assets/images/icons8-plus-64.png"/>
    </button>

  </div>
</div>
<div class="product-selection selection-type-quantity d-flex align-items-center">
  <div class="product-selection-text" >
    <%= form.label :gender , "Gender "%>

  </div>
  <div class="gender-options">
    <div class="d-flex  align-items-center">
      <div class="women-options">
        <%= form.radio_button :gender, "women" %>
        <%= form.label :gender_women, "Women" %>

      </div>
      <div class="men-options">
        <%= form.radio_button :gender, "men" %>
        <%= form.label :gender_men, "Men" %>

      </div>

    </div>
  </div>
</div>
<!-- Send Query -->
<div class="d-flex justify-content-end product-details-call">
  <div>
    <input type="submit" class="float-end btn-primary add-product-update-button" value="Update" id="btn"></input>
  </div>
</div>
</div>
</div>
</div>
</div>

</section>
<%end%>
<% end %>

<!-- Modal for category-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with  model: @category, url: categories_path, method: :post  do |f| %>
        <%#= form_tag categories_path(@category), method: :post, :class => "form-horizontal" do %>
        <%= f.label :category_name, :class => 'control-label' %>
        <%= f.text_field :category_name, :class => "form-control" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= f.submit "Add", class: "btn btn-success  bg-primary " %>
        <% end %>
      </div>
    </div>
  </div>
</div>




<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev')
        .attr('src', e.target.result)
        .width(150)
        .height(200);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
<script>
  function openForm() {
    document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
</script>