<section id="my-product">
  <div class="product-list-main">
    <div class="products-container mx-auto">
      <div class="row mx-0">
        <!-- Category Selection -->
        <div class="col-lg-3 col-md-3 category-selection-list px-0">
          <div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                   Gender
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse " aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input gender" name="gender" value="men" type="checkbox" id="men">
                    <label class="form-check-label" for="men">
                      Men
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input gender" name="gender"  value="women" type="checkbox" id="women">
                    <label class="form-check-label" for="women">
                      Women
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                  Categories
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse " aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <div class="form-check">
                    <% @categories.each do |category| %>
                      <div class="form-check">
                        <input class="form-check-input category-checkbox save-cb-state"  name="categories" type="checkbox" id="<%= category.id %>", value="<%= category.id %>" />
                        <label class="form-check-label" for="<%= category.id%>">
                          <%= category.name %>
                        </label>
                      </div>
                    <% end %>
                    </ul>
                    <%# end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>                      
      <div class="col-lg-9 col-md-9">
          <div class="col-12 product-list-total-nummber">
            
           <div id="products_template" >

            <%= render partial: 'product', :locals => { :products => @products } %>
           </div>    
        </div>
      </div>
    </div>
    <!-- Pagination part -->
  </div>
  </div>

</section>

<%= render 'shared/footer'%>

<script type="text/javascript">

  window.onbeforeunload = function() {
    alert()
  };

  $('.category-checkbox').click(filterHandler)
  $('.gender').click(filterHandler)

  function filterHandler (e) {
    var cb = document.getElementsByClassName('save-cb-state');
    for(var i = 0; i < cb.length; i++) {
    var categories = getFilterIds("categories")}
    var gender = getFilterIds('gender')

    $.ajax({
      url: `/products`,
      type: "get",
      dataType: 'script',
      data: {product: {categories: categories, gender: gender} },
    });
  }

  function getFilterIds (filterName) {
    var idsArray = $(`input[name="${filterName}"][type="checkbox"]:checked`).map(function() {
      return $(this).val();
    }).get()

    return idsArray || []
  }
</script>
<!-- <script>
// Avoid scoping issues by encapsulating code inside anonymous function
(function() {
  // variable to store our current state
  var cbstate;
  
  // bind to the onload event
  window.addEventListener('load', function() {
    // Get the current state from localstorage
    // State is stored as a JSON string
    cbstate = JSON.parse(localStorage['CBState'] || '{}');
  
    // Loop through state array and restore checked 
    // state for matching elements
    for(var i in cbstate) {
      var el = document.querySelector('input[value="' + i + '"]');
      if (el) el.checked = true;
    }
  
    // Get all checkboxes that you want to monitor state for
    var cb = document.querySelectorAll('.save-cb-state');
  
    // Loop through results and ...
    for(var i = 0; i < cb.length; i++) {
  
      //bind click event handler
      cb[i].addEventListener('click', function(evt) {
        // If checkboxe is checked then save to state
        if (this.checked) {
          cbstate[this.name] = true;
        }
    
    // Else remove from state
        else if (cbstate[this.name]) {
          delete cbstate[this.name];
        }
    
    // Persist state
        localStorage.CBState = JSON.stringify(cbstate);
      });
    }
  });
})();
</script>
 -->
<!-- 
<script> 
  var cb = $('.category-checkbox').length;
  var i = 1
    // Loop through results and ...
  for( i = 1; i <= cb; i++) {
    $( window ).on( "load",function() {
      console.log('ready function')     
      document.querySelector('input[id="' + i + '"]').checked = localStorage.checked 
    }); 

    console.log(12)
    $('input[id="' + i + '"]').click(check)

  }

  function check(e){ 
        console.log('checked function')
      if (e.target.checked) { 
        localStorage.checked = true; 
      } else { 
        localStorage.checked = false; 
      } 
  } 
     

</script>  -->