


<div class="digg_pagination">
  <div class="page_info ms-auto">
    <%= page_entries_info @products %>
   </div>
 </div>
<div class="row mx-0 filter">
<% @products.each do |product|%>
  <% if !product.deleted %>
    <div class="col-lg-4 col-md-6">
      <div class="hovereffect"> 
        <div class="products">
          <div class="product">
            <a href="<%= product_path(product) %>"><%= image_tag "#{ENV['BUCKET_PRODUCT_URL']}product-1.png", alt:"", class:"w-100" %> <%#= image_tag product.images.url, style: 'height:264.73px; width: 264.73px' if product.images_url.present? %>
            </a>      
              <div class="product-name d-flex justify-content-around">
                <div>
                  <h3 class="f-18 text-center"><%= product.name%></h3>
                  <h2 class="f-24 text-center"><%= price(product)%></h2>
                </div>
                <% if user_signed_in? && current_user.is_admin? %>
                <div class="d-flex align-items-center">
                  
                
                          
                                  <a class="dropdown-item" href='<%= edit_product_path(product) %>'><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                              </svg></a>
                                   <!-- <hr class="dropdown-divider"> -->
                                  <a class="dropdown-item delete-btn" href="<%=delete_product_path(product)%>",  data-method="delete"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg></a>
                    
                    </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
<% end%>
<% end%>
</div>



<div class="pagination-main">
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <%#= will_paginate @products, renderer: BootstrapPagination::Rails %>
            <div class="will_paginate">
            <%= will_paginate @products, :container =>false, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , :previous_label => '<i class="ri-arrow-left-s-line"></i>', :next_label => '<i class="ri-arrow-right-s-line"></i>',inner_window: 1, outer_window: 1, remote:false %>
            </div>
        </li>
      </ul>
    </nav>
  </div>
</div>


