<div class="digg_pagination">
  <div class="page_info ms-auto">
    <%= page_entries_info @products %>
   </div>
 </div>
<div class="row mx-0 filter">
<% @products.each do |product|%>
  <div class="col-lg-4 col-md-6">
    <div class="hovereffect"> 
      <div class="products">
        <div class="product">
          <a href="/products/show"> <%= image_tag "#{ENV['BUCKET_PRODUCT_URL']}product-1.png", alt:"", class:"w-100" %></a>      
          <div class="product-name">
            <h3 class="f-18 text-center"><%= product.name%></h3>
            <h2 class="f-24 text-center"><%= price(product)%></h2>
          </div>
        </div>
    </div>
  </div>
</div>
<% end%>
</div>



<div class="pagination-main">
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <%#= will_paginate @products, renderer: BootstrapPagination::Rails %>
            <div class="will_paginate">
            <%= will_paginate @products, :container =>false, renderer: WillPaginate::ActionView::BootstrapLinkRenderer , :previous_label => '<i class="ri-arrow-left-s-line"></i>', :next_label => '<i class="ri-arrow-right-s-line"></i>',inner_window: 1, outer_window: 1, remote:false %>
            </div>
        </li>
      </ul>
    </nav>
  </div>
</div>


<script >
  
</script>