
<section>
  <div class="product-details">
    <div class="row mx-0">
      <div class="col-lg-6 col-md-12 col-sm-12 px-lg-0 d-flex justify-content-end flex-column add-images">
        <div class="product-main-image  w-100">
               <%= image_tag @product.images.url, width:"100%" if @product.images_url.present? %>
        </div>
        <div class="product-small-images-container">
          <div class="product-small-image d-flex">
            <div class="images w-100">
            <%= form_with model: @product, url: products_path, method: :patch do |form| %>
            <%= form.file_field :images , class:'form-control', placeholder:"Image",multiple: true, onchange:"readURL(this);", id:"preview_image"%><br>
            <%= form.text_field :id, value:"#{@product.id}", type: "  ", id:"product_id"%>
            <% end %>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 product-content-container d-flex">
        <div class="product-content">
          <span class="f-20"><a href="/">Home</a> / <a href="/products">Catalog</a> / <a class="product-active" href="<%= product_path(@product.id)%>"><%= @product.name %></a> </span>
          <h1 class="product-heading"><%= @product.name %></h1>
          <h3 class="product-price"><%= @product.price %></h3>
          <p class="product-desc"><%= @product.description %></p>

          <!-- Color -->
          <div class="product-selection selection-type-color d-flex align-items-center">
            <div class="product-selection-text d-flex">
              <p class="f-20 my-0">Color</p>
            </div>
            <div class="product-options color">
             <ul class="my-0">
              <li>
                <input type="checkbox" id="color-1" />
                <label for="color-1"><div class="product-color color-1"></div></label>
              </li>
              <li>
                <input type="checkbox" id="color-2" />
                <label for="color-2"><div class="product-color color-2"></div></label>
              </li>
              <li>
                <input type="checkbox" id="color-3" />
                <label for="color-3"><div class="product-color color-3"></div></label>
              </li>
              <li>
                <input type="checkbox" id="color-4" />
                <label for="color-4"><div class="product-color color-4"></div></label>
              </li>
              <li>
                <input type="checkbox" id="color-5" />
                <label for="color-5"><div class="product-color color-5"></div></label>
              </li>
              <li>
                <input type="checkbox" id="color-6" />
                <label for="color-6"><div class="product-color color-6"></div></label>
              </li>
              <li>
                <input type="checkbox" id="color-7" />
                <label for="color-7"><div class="product-color color-7"></div></label>
              </li>
            </ul>
          </div>
        </div>
        <!-- Size -->
        <div class="product-selection selection-type-size d-flex align-items-center">
          <div class="product-selection-text d-flex">
            <p class="f-20 my-0">Size</p>
          </div>
          <div class="product-options size">
           <ul class="my-0">
            <li>
              <%#= @product.size %>
            </li>
          </ul>
        </div>
      </div>
      <!-- Quantity -->
      <div class="product-selection selection-type-quantity d-flex align-items-center">
        <div class="product-selection-text d-flex">
          <p class="f-20 my-0">Quantity</p>
        </div>
        <div class="product-options message1 quantity">
         <%= @product.quantity%>
      </div>
    </div>
    <!-- Message1 -->
    <div class="product-selection selection-type-quantity d-flex align-items-center">
      <div class="product-selection-text d-flex">
        <p class="f-20 my-0">Category</p>
      </div>
      <div class="product-options message1">
       <%= @product.category.name%>
      </div>
    </div>
    <!-- Send Query -->
    <div class="d-flex float-end product-details-call">
      <input type="submit" class=" float-end send-query-button" value="Send Query">     
    </div>
  </div>
</div>
</div>


<!-- <script type="text/javascript">
  var id = parseInt($("#product_id")[0].value)
  $('#preview_image').change(function(){
    $.ajax({
      url: `products/:=${id}`,
      type: "PATCH",
      data: 
    })
  })

</script> -->