<%= render 'shared/navbar'%>
<section>
  <div class="product-list-main">
    <div class="products-container mx-auto">
      <div class="row mx-0">
        <!-- Category Selection -->
        <div class="col-lg-3 col-md-3 category-selection-list px-0">
          <div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                   Gender
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                   <div class="form-check">
                    <input class="form-check-input gender" type="checkbox" value="" id="men">
                    <label class="form-check-label" for="men">
                      Men
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input gender" type="checkbox" value="" id="women">
                    <label class="form-check-label" for="women">
                      Women
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Categories
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <div class="form-check">
                    <% @categories.each do |category| %>
                      <div class="form-check">
                        <input class="form-check-input category-checkbox" name="categories[]" type="checkbox" id="<%= category.id %>", value="<%= category.id %>" >
                        <label class="form-check-label" for="<%= category.id%>">
                          <%= category.name %>
                        </label>
                      </div>
                    <% end %>
                    </ul>
                    <%# end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>                      
      <div class="col-lg-9 col-md-9">
        <div class="row mx-0">
          <div class="col-12 product-list-total-nummber">
            <p class="text-end f-20">Showing <span class="fw">1-3</span> of <span class="fw">36</span> results</p>
          </div>
        <div class="col-lg-4 col-md-6">
          <div class="hovereffect"> 
            <%= render partial: 'product', :locals => { :products => @products } %>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!-- Pagination part -->
    <div class="pagination-main">
      <nav aria-label="...">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
           
            <a class="page-link arrows prev-arrow" href="#" tabindex="-1" aria-disabled="true"><%= image_tag "#{ENV['BUCKET_URL']}product-page-prev-arrow.svg", alt:"" %></a>
          </li>
          <li class="page-item active" aria-current="page"><a class="page-link border-0 f-18 page-number" href="#">1</a></li>
          <li class="page-item">
            <a class="page-link border-0 f-18 page-number" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link border-0 f-18 page-number" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link arrows next-arrow" href="#"><%= image_tag "#{ENV['BUCKET_URL']}product-page-next-arrow.svg", alt:"" %></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  </div>

</section>

<%= render 'shared/footer' %>

<script type="text/javascript">

  $('.category-checkbox').click( () => {
    var categories = $('input[type="checkbox"]:checked').map(function() {
      return $(this).val();
    }).get()
    console.log(categories);

    $.ajax({
      url: `/products`,
      method: "get",
      data: { categories: categories},
      dataType: 'json',
      success: function(products) {
        // debugger
        $('.products').empty();
        products.forEach(append_filtered_product)
        // $('.products').toggle();
        // if (result["scheduled_task_id"] != null) {
        //   console.log("Schedule record => " + result["scheduled_task_id"])
        // } else {
        //   console.log("Error: " + result["error"])
        // }
      },
      error: function() {
        console.log("Ajax request error");
      },
      // async: true => By default JQuery set true to async param.
    });

  })

  function append_filtered_product(product){
    let img_src = `<%= "#{ENV['BUCKET_PRODUCT_URL']}product-1.png" %>`
    let product_name = product.name
    let product_price = product.price
    myhtml = `<div class="product"> <a href="/products/show"> <img alt="" class="w-100" src=${img_src}></a> <div class="product-name"> <h3 class="f-18 text-center">${product_name}</h3> <h2 class="f-24 text-center">${product_price}</h2> </div> </div>`
    $(".products").append(myhtml)
  }
</script>
