<section>
  <div class="product-details">
    <div class="row mx-0">
      <div class="col-lg-6 col-md-12 col-sm-12 px-lg-0">
        <div class="product-main-image">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

              <div class="carousel-item active h-100 ">
               <%= image_tag @product.images[0].url,height:"100%", width:"100%" if @product.images[0].url.present? %>
             </div>
             <% @product.images.each do |i|%>
             <div class="carousel-item  h-100">
               <%= image_tag i.url, width:"100%" if i.url.present? %>
             </div>
             <% end %>
           </div>
           <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="product-small-images-container">
        <div class="product-small-image d-flex row mx-0">

          <% @product.images.each do |j|%>
          <div class="images col-lg-3 col-md-4 col-sm-6">
           <%= image_tag j.url, width:"100%" if j.url.present? %>
         </div>
         <% end %>

       </div>
     </div>
   </div>
   <div class="col-lg-6 col-md-12 col-sm-12 product-content-container d-flex">
    <div class="product-content w-100">
     <span class="f-20"><a href="/">Home</a> / <a href="/products">Catalog</a> / <a class="product-active" href="<%= product_path(@product.id)%>"><%= @product.name %></a> </span>
     <h1 class="product-heading"><%= @product.name %></h1>
     <h3 class="product-price"><%=  price(@product) %></h3>
     <p class="product-desc"><%= @product.description %></p>


     <!-- Color -->
     <div class="product-selection selection-type-color d-flex align-items-center">
      <div class="product-selection-text d-flex">
        <p class="f-20 my-0">Color</p>
      </div>
      <div class="product-options color">
       <ul class="my-0">
         <% @colors.each do |i|%>
         <li >
          <input type="checkbox" id="<%= i %>" class="add-product-color-checkbox" />
          <label for="<%= i %>"><div class="product-color d-flex"><%= image_tag i.color.url,height:"100%",width:"100%" if i.color.url.present? %></div></label>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- Size -->
  <div class="product-selection selection-type-size d-flex align-items-center">
    <div class="product-selection-text d-flex">
      <p class="f-20 my-0">Size</p>
    </div>
    <div class="product-options size ms-4">
     <%= @product.size%>
   </div>
 </div>
 <!-- Quantity -->
 <div class="product-selection selection-type-quantity d-flex align-items-center">
  <div class="product-selection-text d-flex">
    <p class="f-20 my-0">Quantity</p>
  </div>
  <div class="product-options message1 quantity">
    <input class="product-message1" type="text" id="message1" placeholder="Enter quantity..." />
  </div>
</div>
<!-- Message1 -->
<div class="product-selection selection-type-quantity d-flex align-items-center">
  <div class="product-selection-text d-flex">
    <p class="f-20 my-0">Message</p>
  </div>
  <div class="product-options message1">
    <input class="product-message1" type="text" id="message1" placeholder="Type here..." />
  </div>
</div>
<!-- Send Query -->
<div class="d-flex float-end product-details-call">
  <button class="trigger">Easy Customisation</button>
  <input type="submit" class=" float-end send-query-button" value="Send Query">     
</div>
</div>
</div>
</div>
</div>


<!-- Modal -->
<div class="modal" >
  <div class="modal-content">
    <div>
      <span class="close-button"><%= image_tag "#{ENV['BUCKET_PRODUCT_URL']}close.png", alt:"" %></span>
    </div>
    <div class="modal-body">
      <div class="row mx-0">
        <div class="col-lg-5 col-md-5 col-sm-12">
         <%= image_tag @product.images[0].url, height:"100%",width:"100%" if @product.images[0].url.present? %>
         <%#= @product.images[0] %>
       </div>
       <div class="col-lg-7 col-md-7 col-sm-12">
        <h1 class="product-heading">Black Tank Top</h1>
        <h3 class="product-price">Easy Customisation</h3>

        <%= form_with  model: @product, url: query_path, method: :post, html:{multipart: true}  do |form| %> 
        <!-- Color -->
        <div class="product-selection selection-type-color d-flex align-items-center">
          <div class="product-selection-text d-flex">
            <p class="f-20 my-0">Color</p>
          </div>
          <div class="product-options-modal color">
           <ul class="my-0">
            <div>
              <%= form.file_field :color , multiple: true, class:'form-control add-image ', placeholder:"Upload Image of color"%><br>
              <!-- <button type="button" class="btn btn-success btn-xs modal-btn add-color-button" data-toggle="modal" data-target="#approvalModal" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal2">
                <div class="add-product-upload-color" >
                  <img src="https://sorsally.s3.ap-south-1.amazonaws.com/assets/images/add-box-line.png"/>
                </div>
              </button> -->
            </div>
          </ul>
        </div>
      </div>

      <!-- Size -->
      <div class="product-selection selection-type-size d-flex align-items-center">
        <div class="product-selection-text d-flex">
          <p class="f-20 my-0">Size</p>
        </div>
        <div class="d-flex product-options-modal size product-options-size-update">
         <% @sizes.each do |s| %>
         <%= form.check_box :size, { multiple: true }, s, false  %>
         <%= form.label :size, s, for: "product_size_#{s}".downcase.to_sym, class:'d-flex justify-content-center align-items-center'%>
         <% end %>
       </div>
     </div>
     <!-- Quantity -->
     <div class="product-selection selection-type-quantity d-flex align-items-center">
      <div class="product-selection-text d-flex">
        <p class="f-20 my-0">Quantity</p>
      </div>
      <div class="product-options-modal quantity">
        <%= form.text_field :quantity , class:'input form-control product-message1', id:'message1', placeholder:'Enter Quantity'%>
      </div>
    </div>
    <!-- Message1 -->
    <div class="product-selection selection-type-quantity d-flex align-items-center">
      <div class="product-selection-text d-flex">
        <p class="f-20 my-0">Message</p>
      </div>
      <div class="product-options message1">
        <%= form.text_field :message ,  class:'form-control', placeholder:"Type here..." %>
      </div>
    </div>
    <%= form.text_field :product_id , value: "#{@product.id}",type:'hidden',  class:'form-control' %>

    <!-- Send Query -->
    <div class="float-end">
      <input type="submit" class=" float-end send-query-button" value="Send Query">
      <%= form.submit 'send'%>
    </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<%= render 'shared/footer' %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".trigger").click(function(){
      console.log("e.type");
      $(".modal").toggle("show-modal");
    });
    $(".trigger1").click(function(){
      console.log("e.type");
      $(".modal1").toggle("show-modal");
    });
    $(".close-button").click(function(){
      console.log("close");
      $(".modal").toggle('show-modal');
    });
  });
</script>







